* {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
}

body {
  background: #f1f1f1;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #2a7ae4;
}

.NavBar {
  margin: 1rem 6rem;
  display: flex;
  align-items: center;
}

.btnLogo {
  cursor: pointer;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
}

.ImgLogo {
  margin-right: 1rem;
}

.InputSearch {
  margin-left: 2rem;
  border-radius: 10px 0 0 10px;
  padding: 0.5rem;
  width: 60%;
  border: none;
  outline: none;
}

.btnSearch {
  background: white;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.icon {
  color: #a2a2a2;
  height: 29px;
  width: 17px;
}

.ContainerbtnLogin {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.BtnLogin {
  color: #2a7ae4;
  border-color: #2a7ae4;
  cursor: pointer;
  background: transparent;
  padding: 0.6rem 3rem;
  border-radius: 10px;
  background-color: white;
}

.Banner {
  border: solid;
  height: 40vh;
  background-image: url("https://as2.ftcdn.net/v2/jpg/03/08/57/39/1000_F_308573978_cskhOCNR7Klh5m7ey0KfBA0TnDZIjdeB.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  border-radius: 30px;
}

.BannerText {
  padding: 4rem 7rem;
}

.TextPromo {
  font-size: 27px;
}

.btnBanner {
  background-color: #2a7ae4;
  color: white;
  font-size: small;
  padding: 0.8rem 1.3rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.CardData {
  margin: 3rem 7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.containerCard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.Type {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnType {
  color: #2a7ae4;
  font-size: 15px;
  display: flex;
  font-weight: bold;
  border: none;
  background: transparent;
  align-items: center;
  margin-right: 2rem;
  gap: 10px;
  cursor: pointer;
}

.IconArrow {
  width: 20px;
  height: 20px;
}

.Card {
  width: 180px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  line-height: 7px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

/* BOTONES ADMIN */
.ContainerBtnAdminnone{
  display: none;
}

.ContainerBtnAdmin{
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 20px;
  top: 20px;
  color: white;
  cursor: pointer;
}
/*  */


.ImgCard {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.ContainerIconCart {
  display: flex;
  width: 96%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.btnCart {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: #2a7ae4;
  border: solid #2a7ae4 1px;
  cursor: pointer;
  border-radius: 5px;
}

.btnCart:hover{
  border-color: white;
  background-color: #2a7ae4;
  color: white;
}

.IconCart {
  width: 20px;
  height: 20px;
}

.h1name {
  font-size: medium;
  font-weight: 100;
}

.h1price {
  font-size: medium;
}

.btnCard {
  color: #2a7ae4;
  background: transparent;
  border: none;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
}


/* CONTACTO */

footer{
  background-color: #EAF2FD;
  padding: 10rem;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

.LogoFooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ContainerLogoFooter{
  display: flex;
  align-items: center;
  justify-content: center;
}

.link{
  color: black;
}

.form_Contacto{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 500px;
  margin-top: 1rem;

}input, textarea{
    border: none;
    border-radius: 20px;
    padding: 1rem;
    resize: none;

    
}textarea{
    height: 100px;
}

.Btn_Contacto{
  background-color: #2a7ae4;
  color: white;
  font-size: small;
  padding: 0.8rem 1.3rem;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
/*  */


@media (max-width: 900px) {
  .NavBar {
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 3;
  }

  .TextLogo {
    display: none;
  }

  .InputSearch {
    border-radius: 10px;
    width: 150px;
    margin: 0;
  }

  .btnSearch {
    display: none;
  }

  .btnLogo {
    width: fit-content;
  }

  .ImgLogo {
    margin: 0;
  }

  .BtnLogin {
    color: #2a7ae4;
    border-color: #2a7ae4;
    cursor: pointer;
    background: transparent;
    padding: 0.4rem 2rem;
  }

  .Banner {
    height: 35vh;
    position: relative;
    z-index: 2;
  }

  .BannerText {
    padding: 2rem 2rem;
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-wrap: wrap;
    font-size: 15px;
  }

  .TextPromo {
    font-size: 27px;
  }

  .btnBanner {
    font-size: small;
    padding: 0.5rem 0.8rem;
  }

  .ContainerbtnLogin {
    width: fit-content;
  }

  .Type {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    margin-top: 3rem;
    height: 50px;
  }
  .btnType {
    margin-right: 0;
    gap: 10px;
  }

  .containerCard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .CardData {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .Card {
    width: 145px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;
  }

  footer{
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
  }


  .form_Contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 1rem;}
    h2{
      display: flex;
      justify-content: center;
    }
  
}
